---

import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  tagline="Tu Solución Integral en Desarrollo Web"
  image={{
    src: '~/assets/images/laptop.jpg',
    alt: 'Solución Nexus',
  }}
>
  <Fragment slot="title">
    Planifica, Diseñamos y Construimos <br />
    <span class="text-accent dark:text-white highlight">Tu Sitio Web </span>por ti
  </Fragment>

  <Fragment slot="subtitle">
    Con  <span class="text-accent dark:text-white highlight">WebNexus</span>, todo lo que necesitas hacer es compartir tus ideas. Nosotros nos encargamos de transformarlas en un sitio web funcional y estéticamente agradable.
  </Fragment>
</Hero>

<!-- Widget de Estadísticas ****************** -->

<Stats
  title="Por Qué Elegirnos"
  stats={[
    { title: 'Proyectos Completados', amount: '1,200' },
    { title: 'Clientes Satisfechos', amount: '1,000' },
    { title: 'Horas de Desarrollo', amount: '50,000' },
    { title: 'Premios de Diseño', amount: '15' },
  ]}
/>


  <!-- Features3 Widget ************** -->

  <Features3
  title="Nuestros Servicios"
  subtitle="Ofrecemos una gama completa de soluciones para llevar tu presencia en línea al próximo nivel. Aquí algunos de nuestros servicios más destacados."
  columns={3}
  isBeforeContent={true}
  items={[
    {
      title: 'Planificación Estratégica',
      description:
        'Nuestro equipo de expertos trabajará contigo desde el inicio para asegurar que el sitio web cumpla tus objetivos de negocio.',
      icon: 'tabler:server',
    },
    {
      title: 'Desarrollo Personalizado',
      description:
        'Desde un blog hasta una tienda en línea, creamos tu sitio web de acuerdo a tus necesidades y preferencias.',
      icon: 'tabler:server',
    },
    {
      title: 'Despliegue y Mantenimiento',
      description:
        'Nos encargamos de todo el proceso técnico, desde el alojamiento hasta la actualización y mantenimiento de tu sitio.',
      icon: 'tabler:server',
    },
    {
      title: 'Sitios Web de Comercio Electrónico',
      description:
        'Desde la creación de tu tienda en línea hasta su mantenimiento, te tenemos cubierto. Experimenta ventas en línea como nunca antes.',
      icon: 'tabler:shopping-cart',
    },
    {
      title: 'Aplicaciones Web',
      description:
        'Desarrollamos aplicaciones web robustas, escalables y de alto rendimiento que satisfacen tus necesidades comerciales.',
      icon: 'tabler:browser',
    },
    {
      title: 'Integración de APIs',
      description:
        'Nos aseguramos de que tu sitio web se integre sin problemas con otras plataformas y servicios.',
      icon: 'tabler:api',
    },
    {
      title: 'Optimización de SEO',
      description:
        'Con nuestro enfoque en SEO, tu sitio no solo se verá bien, sino que también será fácil de encontrar.',
      icon: 'tabler:search',
    },
    {
      title: 'Mantenimiento',
      description:
        'Ofrecemos planes de mantenimiento que garantizan que tu sitio web siempre esté al día y funcionando sin problemas.',
      icon: 'tabler:tools',
    },
    {
      title: 'Análisis de Datos',
      description:
        'Entiende mejor a tus visitantes y toma decisiones informadas con nuestro análisis de datos en tiempo real.',
      icon: 'tabler:chart-pie',
    },
  ]}
/>


  <!-- Features3 Widget ************** -->

  <!-- Steps2 Widget ****************** -->

  <Steps2
  title="Nuestros Valores"
  subtitle="En Web Nexus, creemos en ofrecer soluciones de alta calidad que realmente marcan la diferencia."
  items={[
    {
      title: 'Enfoque en el Cliente',
      description:
        'Toda nuestra operación está diseñada pensando en la satisfacción del cliente. Desde la planificación inicial hasta el despliegue, estás en buenas manos.',
    },
    {
      title: 'Mejora Continua',
      description:
        'Nos esforzamos por mejorar constantemente nuestros procesos y habilidades para ofrecerte siempre el mejor servicio.',
    },
    {
      title: 'Transparencia y Ética',
      description:
        'Creemos en la honestidad y transparencia en todos nuestros tratos. Aquí, lo que ves es lo que obtienes.',
    },
  ]}
/>

<!-- Steps2 Widget ****************** 


<Steps2
  title="Nuestros Logros"
  subtitle="Hemos alcanzado varios hitos que reflejan nuestro compromiso con la excelencia."
  isReversed={true}
  callToAction={{
    text: 'Ver más',
    href: '/logros',
  }}
  items={[
    {
      title: 'Alcance Global',
      description:
        'Hemos servido a clientes de diferentes partes del mundo, adaptándonos a distintas necesidades y mercados.',
      icon: 'tabler:globe',
    },
    {
      title: 'Retroalimentación Positiva',
      description:
        'Nuestros clientes nos adoran y los números hablan por sí mismos. La satisfacción del cliente es nuestra principal métrica.',
      icon: 'tabler:message-star',
    },
    {
      title: 'Premios y Reconocimientos',
      description:
        'Nuestro trabajo ha sido reconocido en varias ocasiones por diferentes organismos por nuestra excelencia en el servicio.',
      icon: 'tabler:award',
    },
  ]}
/>
-->
  <!-- Features2 Widget ************** -->


  <!-- Features2 Widget ************** -->


</Layout>
