---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';

//import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'WebNexus — Servicio de Desarrollo Web Profesional',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Nuestros Servicios',
        href: '/servicios',
        icon: 'tabler:download',
      },
      { text: 'Contactanos', href: '/contacto' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'WebNexus Hero Image' }}
  >
  <Fragment slot="title">
    Bienvenido a <span class="text-accent dark:text-white highlight">WebNexus</span>
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      <span class="font-semibold">WebNexus</span> es tu solución definitiva para el desarrollo de páginas web profesionales.</span
    >
    <span class="block mb-1 sm:hidden font-bold text-blue-600">WebNexus: Desarrollo profesional.</span>
     Apto para Startups, Pequeñas Empresas, SaaS, Portafolios Profesionales, Páginas de Marketing, Landing Pages y Blogs.
  </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
  id="features"
  tagline="Características"
  title="Lo que obtienes con WebNexus"
  subtitle="Una de las soluciones más completas y profesionales para el desarrollo de sitios web en 2023."
  items={[
    {
      title: 'Desarrollo a la Medida',
      description:
        'Ofrecemos soluciones personalizadas que se adaptan a las necesidades únicas de tu empresa o proyecto.',
      icon: 'tabler:tools',
    },
    {
      title: 'Tecnologías Actuales',
      description:
        'Utilizamos las últimas tecnologías para asegurar que tu sitio web sea rápido, seguro y eficiente.',
      icon: 'tabler:brand-javascript',
    },
    {
      title: 'SEO Optimizado',
      description:
        'Nos aseguramos de que tu sitio web esté optimizado para los motores de búsqueda, maximizando tu alcance.',
      icon: 'tabler:search',
    },
    {
      title: 'Soporte Continuo',
      description:
        'Ofrecemos soporte técnico continuo para garantizar que tu sitio web funcione sin problemas.',
      icon: 'tabler:help',
    },
    {
      title: 'Escalabilidad',
      description:
        'Construimos tu sitio web pensando en el futuro, permitiendo una fácil escalabilidad conforme crece tu negocio.',
      icon: 'tabler:scale',
    },
    {
      title: 'Innovación y Creatividad',
      description:
        'Nos apasiona la innovación y siempre estamos dispuestos a implementar nuevas ideas para mejorar tu proyecto.',
      icon: 'tabler:bulb',
    },
  ]}
/>

  <!-- Content Widget **************** -->

  <Content
  isReversed
  tagline="Dentro de WebNexus"
  title="La misión de WebNexus: ¡Conectar tus ideas con el mundo!"
  items={[
    {
      title: 'Enfocado en el Cliente',
      description:
        'Nos centramos en las necesidades específicas de cada cliente para ofrecer soluciones que realmente importan.',
    },
    {
      title: 'Tecnologías de Vanguardia',
      description:
        'Utilizamos tecnologías actuales para garantizar que tu sitio web esté a la vanguardia en diseño y funcionalidad.',
    },
    {
      title: 'Seguridad y Confiabilidad',
      description:
        'Toma en serio la seguridad de tu sitio web. Utilizamos prácticas seguras para proteger tu información y la de tus usuarios.',
    },
  ]}
  image={{
    src: '~/assets/images/edificios.jpg',  // Puedes cambiar esto por la imagen que mejor represente a WebNexus
    alt: 'Imagen representativa de WebNexus',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Construyendo sobre bases sólidas</h3>
    Obtén una ventaja competitiva al incorporar las mejores prácticas de la industria en tu proyecto web.
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>


  <!-- Content Widget **************** -->

  <Content
  isAfterContent
  items={[
    {
      title: 'Personalización al Máximo Nivel',
      description:
        'Adaptamos cada proyecto a la identidad y requisitos de tu marca, haciendo que tu sitio web sea único y ahorrándote tiempo en el proceso.',
    },
    {
      title: 'Amplias Posibilidades de Diseño',
      description:
        'Explora diversas opciones de diseño para encontrar la estructura que mejor presente tu contenido, mejorando la interacción del usuario y la navegación.',
    },
    {
      title: 'Diseño Completamente Adaptable',
      description:
        'Aseguramos el rendimiento óptimo de tu sitio web en diversos dispositivos y tamaños de pantalla, proporcionando una experiencia de usuario consistente y agradable.',
    },
    {
      title: 'Integración de Medios Multimedia',
      description:
        'Incorporamos de manera fluida imágenes, videos y elementos multimedia que realzan tu contenido y atraen efectivamente a los visitantes.',
    },
  ]}
  image={{
    src: '~/assets/images/junta.jpg',  // Puedes cambiar esto por la imagen que mejor represente a WebNexus
    alt: 'Imagen representativa de WebNexus',
  }}
>
  <Fragment slot="content">Asegura que tu presencia en línea realmente te represente.</Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>
  <!-- Content Widget **************** -->

  <Content
  isReversed
  isAfterContent
  items={[
    {
      title: 'Compromiso del Usuario Mejorado',
      description:
        'Cautiva a tu audiencia con elementos interactivos, navegación intuitiva y diseños visualmente atractivos que fomentan visitas más largas.',
    },
    {
      title: 'Mejora Continua',
      description:
        'Con WebNexus, tu sitio web se mantiene al día con las últimas tendencias y tecnologías mediante actualizaciones y mejoras regulares.',
    },
    {
      title: 'Eficiencia en Tiempo y Recursos',
      description:
        'Omite el proceso largo y tedioso de construir un sitio web desde cero. Lanza tu presencia en línea más rápidamente con nuestros servicios.',
    },
    {
      title: 'Soporte Comunitario y Profesional',
      description:
        'Únete a nuestra creciente comunidad de clientes satisfechos para obtener conocimientos, recursos y asistencia, asegurando que nunca estés solo en tu viaje de desarrollo web.',
    },
  ]}
  image={{
    src: '~/assets/images/programando.jpg',  // Puedes cambiar esto por una imagen que represente a WebNexus
    alt: 'Imagen representativa de WebNexus',
  }}
>
  <Fragment slot="content">Diseñado para fomentar el crecimiento y el éxito.</Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>


  <!-- Steps Widget ****************** -->

  <Steps
  title="Consigue el sitio web de tus sueños en tiempo récord con WebNexus."
  items={[
    {
      title: 'Paso 1: <span class="font-medium">Consulta Inicial</span>',
      description:
        "Todo comienza con una conversación. Ponte en contacto con nosotros para discutir tus necesidades y visiones. Vamos a definir el alcance y los objetivos del proyecto en esta fase inicial.",
      icon: 'tabler:message-circle',
    },
    {
      title: 'Paso 2: <span class="font-medium">Planificación</span>',
      description:
        "Esquematizamos un plan de acción basado en tus requisitos. Te proporcionamos un cronograma detallado y una estimación de costos para asegurar que estamos en la misma página.",
      icon: 'tabler:calendar',
    },
    {
      title: 'Paso 3: <span class="font-medium">Desarrollo</span>',
      description:
        "Nuestro equipo de desarrolladores y diseñadores se pone manos a la obra para crear un sitio que no solo cumpla sino que supere tus expectativas. Mantenemos una comunicación constante para asegurar que el proyecto avance de manera fluida.",
      icon: 'tabler:code',
    },
    {
      title: 'Paso 4: <span class="font-medium">Revisión y Lanzamiento</span>',
      description:
        "Antes de lanzar, revisamos todo meticulosamente y realizamos las pruebas necesarias para garantizar la máxima calidad. Una vez que estés satisfecho, ¡tu sitio estará listo para conquistar el mundo digital!",
      icon: 'tabler:rocket',
    },
  ]}
  image={{
    src: '~/assets/images/caminar.jpg',  // Cambia esto por una imagen que represente el proceso con WebNexus
    alt: 'Imagen del proceso de servicio de WebNexus',
  }}
/>

  <!-- Features2 Widget ************** -->

  <Features2
  title="Widget esenciales para tu sitio"
  subtitle="Descubre componentes clave para construir sitios web efectivos con nuestra tecnología"
  tagline="Componentes Esenciales"
  items={[
    {
      title: 'Encabezados Dinámicos',
      description: "Más que una simple navegación; nuestros encabezados son el tablero de control para tu experiencia en línea.",
      icon: 'flat-color-icons:template',
    },
    {
      title: 'Secciones Impactantes',
      description:
        "Captura la atención desde el primer momento con diseños visuales cautivadores y contenido relevante.",
      icon: 'flat-color-icons:gallery',
    },
    {
      title: 'Funciones Avanzadas',
      description:
        'Integra funcionalidades que aumentan el compromiso del usuario y convierten visitantes en clientes.',
      icon: 'flat-color-icons:approval',
    },
    {
      title: 'Contenido Relevante',
      description:
        "Priorizamos contenido que aporte valor, elevando la tasa de retención y el SEO de tu sitio.",
      icon: 'flat-color-icons:document',
    },
    {
      title: 'Llamadas a la Acción Efectivas',
      description:
        'Nuestros CTAs son más que simples botones; son pasos cuidadosamente diseñados en el viaje del cliente.',
      icon: 'flat-color-icons:advertising',
    },
    {
      title: 'Opciones de Precios Claras',
      description: 'Transparencia total para que puedas tomar decisiones informadas sin sorpresas.',
      icon: 'flat-color-icons:currency-exchange',
    },
    {
      title: 'Testimonios Auténticos',
      description: 'Voces reales de clientes satisfechos que respaldan la calidad de nuestro servicio.',
      icon: 'flat-color-icons:voice-presentation',
    },
    {
      title: 'Contacto Simplificado',
      description:
        'Múltiples canales de comunicación para que siempre puedas encontrar la ayuda que necesitas.',
      icon: 'flat-color-icons:business-contact',
    },
    {
      title: 'Pies de Página Útiles',
      description: "Más que un cierre, una última oportunidad para interactuar y ofrecer valor.",
      icon: 'flat-color-icons:database',
    },
  ]}
/>
   

  <!-- HighlightedPosts Widget ******* 

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />
-->
  <!-- FAQs Widget ******************* -->

    <FAQs
    title="Preguntas Frecuentes"
    subtitle="Explora las siguientes preguntas para obtener más información sobre las poderosas características que ofrecemos y cómo podemos potenciar tu proyecto web."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Por qué elegir nuestra agencia?',
        description:
          "Nos centramos en la eficiencia, el diseño atractivo y una experiencia de usuario excepcional para que tu sitio web no solo se vea bien, sino que también funcione sin problemas.",
      },
      {
        title: '¿Qué necesito para empezar?',
        description:
          'Todo lo que necesitas es una idea y un objetivo. Nosotros nos encargamos del resto, desde el diseño hasta el desarrollo y la implementación. Nuestros paquetes son escalables y se adaptan a una variedad de necesidades y presupuestos.',
      },
      {
        title: '¿Cómo instalo la plantilla Astro + Tailwind CSS?',
        description:
          'Ofrecemos una guía de inicio rápido y documentación detallada para ayudarte a instalar y personalizar tu plantilla, paso a paso. Además, nuestro equipo de soporte está siempre dispuesto a ayudar.',
      },
      {
        title: '¿Hay algo que no entiendas sobre nuestros servicios?',
        description:
          'Nos esforzamos por ser claros y transparentes en todo lo que hacemos. Sin embargo, si hay algo que no comprendes, nuestro equipo de soporte está a solo un clic de distancia para resolver todas tus dudas.',
      },
      {
        title: '¿Hay algo que te gustaría probar de nuevo con nosotros?',
        description:
          'Valoramos el feedback de nuestros clientes y estamos siempre en proceso de mejora. Si hay algo en lo que piensas que podríamos hacerlo mejor, nos encantaría escucharte.',
      },
      {
        title: 'Si pudieras hacer solo una pregunta a cada persona que conoces, ¿cuál sería?',
        description:
          'Nuestra pregunta sería: ¿Cuál es el principal desafío que quieres resolver con tu sitio web? Esta pregunta nos ayuda a alinear nuestros servicios con tus objetivos específicos.',
      },
    ]}
  />
    <!-- Stats Widget **************** 
    <Stats
    stats={[
      { title: 'Proyectos Completados', amount: '132' },
      { title: 'Clientes Satisfechos', amount: '248' },
      { title: 'Premios Ganados', amount: '10' },
      { title: 'Miembros del Equipo', amount: '48' },
    ]}
  />
-->
  <!-- CallToAction Widget *********** 
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Solicitar Servicio',
        href: '#contacto',
        icon: 'tabler:mail',
      },
    ]}
    >
    <Fragment slot="title">
      ¡Dale vida a tu idea!<br class="block sm:hidden" />
    </Fragment>
    <Fragment slot="subtitle">
      Obtén un sitio web profesional que se adapte a tus necesidades y presupuesto.
    <Fragment slot="footer">
      Nos enorgullece ofrecer soluciones tecnológicas que impulsan el crecimiento y el éxito de tu negocio.
    </Fragment>
  </CallToAction>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>
-->
</Layout>
